{% extends "layout.html" %}

{% block title %}
    Aventura
{% endblock %}

{% block head %}
  <script src="/static/js/speech.js" defer></script>
  <script>
    var apiKey = {{ keys.apiKey|tojson }}
    var pseId = {{ keys.pseId|tojson }}
  </script>
{% endblock %}

{% block main %}
    <div class="col-md-12 text-center">
        <img id="fellowshipImage" src="/static/img/fellowship.png">
    </div>
    <div class="text-center">
        <h2 class="text-name">Qual será a aventura de hoje?</h2>
    </div>
    <div class="input-group text-center" style="height: 20px; justify-content: center;">
        <button id="record-button" class="input-group-text " style="border-radius: 3px 0 0 3px" onclick="record()"><i class="bi bi-mic"></i></button>
        <button id="stop-recording-button" class="input-group-text " style="border-radius: 3px 0 0 3px" onclick="stopRecording()" hidden><i class="bi bi-mic-fill"></i></button>
        <input id="search-input" class="input-group-text input" autofocus style="min-width: 355px; outline: none" type="text" placeholder="Local da aventura" onkeyup="disableButton()">        
    </div>
    <div class="text-center">
        <button id="search-button" class="custom-button" onclick="populate(getElementById('search-input').value, apiKey, pseId)" hidden>Confirmar</button>
    </div>
{% endblock %}
