
{% extends "layout.html" %}

{% block title %}
    Coleção
{% endblock %}

{% block head %}
  <script src="/static/js/collection.js" defer></script>
{% endblock %}

{% block main %}
  <div id="img-collection" class="img-collection overflow-style text-center row d-flex justify-content-around align-items-center scrollbar-primary">
    {% for image in images %}
      <a class="image-link" href="imageView?id={{image[0]}}"><img class="image" src={{image[2]}}></a>
    {% endfor %}
  </div>
{% endblock %}