
{% extends "layout.html" %}

{% block title %}
    Configurações
{% endblock %}

{% block head %}
  <script src="/static/js/config.js" defer></script>
{% endblock %}

{% block main %}
  <div class="text-center">
    <h2 class="text-name">Configurações</h2>
  </div>

  <div class="form">
    <div class="d-flex">
      <p class="config-spacing text-name">Modo Escuro</p>
      <label class="switch">
        <input id="darkmode" type="checkbox" onchange="darkMode()">
        <span class="slider round"></span>
      </label>
    </div>
    <br>
    <div class="d-flex">
      <p class="config-spacing text-name">Google search API</p>
      <form class="google-keys">
        <input id="api-key" class="input config-input config-spacing botton-border" type="text" placeholder="Chave API">
        <input id="pse-id" class="input config-input config-spacing botton-border" type="text" placeholder="PSE ID (cx)">
        <input type="submit" class="custom-button" onclick="saveGoogleKeys();" value="Salvar" />
      </form>
    </div>
    <br>
    <div class="d-flex">
      <p class="config-spacing text-name">Idioma</p>
      <div>
        <select class="custom-select botton-border" id="inputGroupSelect01">
          <option selected value="1">Português</option>
          <option value="2" disabled>English (work in progress)</option>
        </select>
      </div>
    </div>
  </div>
{% endblock %}