{% extends "layout.html" %}

{% block title %}
    Imagem
{% endblock %}

{% block head %}
  <script>
    function sendImage() {
      const image = document.getElementById("image-full").src;
          $.ajax({
              url: '{{url_for("imageView")}}',
              type: 'POST',
              data: {
                  image: image
              },
              success: function (response) {
                window.location.replace('collection');
              },
              error: function (response) {
              }
          });
   }
  </script>
{% endblock %}

{% block main %}
  <div class="d-flex justify-content-around align-items-center imageView">
    {% if image[0] == '' %}
      <button onclick="sendImage();" class="custom-button"><i class="bi bi-download"></i> Salvar</button>
    {% endif %}
    <div id="image-container" class="text-center">
      <a id="image-full-link" href={{image[2]}}>
        <img id="image-full" src={{image[2]}}>
      </a>
    </div>
  </div>
{% endblock %}